﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" AutoEventWireup="true"
    CodeBehind="Show.aspx.cs" Inherits="Depiction.Web.Views.Depictions.Show" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <script type="text/javascript" src="/Content/Silverlight.js"></script>

    <script type="text/javascript">
        function onSilverlightError(sender, args) {

            var appSource = "";
            if (sender != null && sender != 0) {
                appSource = sender.getHost().Source;
            }
            var errorType = args.ErrorType;
            var iErrorCode = args.ErrorCode;

            var errMsg = "Unhandled Error in Silverlight 2 Application " + appSource + "\n";

            errMsg += "Code: " + iErrorCode + "    \n";
            errMsg += "Category: " + errorType + "       \n";
            errMsg += "Message: " + args.ErrorMessage + "     \n";

            if (errorType == "ParserError") {
                errMsg += "File: " + args.xamlFile + "     \n";
                errMsg += "Line: " + args.lineNumber + "     \n";
                errMsg += "Position: " + args.charPosition + "     \n";
            }
            else if (errorType == "RuntimeError") {
                if (args.lineNumber != 0) {
                    errMsg += "Line: " + args.lineNumber + "     \n";
                    errMsg += "Position: " + args.charPosition + "     \n";
                }
                errMsg += "MethodName: " + args.methodName + "     \n";
            }

            throw new Error(errMsg);
        }
    </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h1><%= Model.DepictionTitle %></h1>
    <h3>Created by <strong><%= Model.User.Person.FirstName + " " + Model.User.Person.LastName %></strong> on <strong><%= Model.CreationDate.ToShortDateString() %></strong></h3>
    <p><%= Model.Description %></p>
    <!-- Runtime errors from Silverlight will be displayed here.
	This will contain debugging information and should be removed or hidden when debugging is completed -->
    <div id='errorLocation' style="font-size: small; color: Gray;">
    </div>
    <div id="silverlightControlHost">
        <object data="data:application/x-silverlight-2," type="application/x-silverlight-2"
            width="800px" height="600px">
            <param name="initParams" value="depictionXMLURI=<%= webDepictionLocation + Model.Id + "/depictionForWeb.xml" %>,depictionImagesLocation=<%= webDepictionLocation + Model.Id + "/Images/" %>" />
            <param name="source" value="<%= webDepictionLocation + Model.Id + "/DepictionSilverlight.xap" %>" />
            <param name="onerror" value="onSilverlightError" />
            <param name="background" value="white" />
            <param name="minRuntimeVersion" value="2.0.31005.0" />
            <param name="autoUpgrade" value="true" />
            <param name="enableHtmlAccess" value="true" />
            <a href="http://go.microsoft.com/fwlink/?LinkID=124807" style="text-decoration: none;">
                <img src="http://go.microsoft.com/fwlink/?LinkId=108181" alt="Get Microsoft Silverlight"
                    style="border-style: none" />
            </a>
        </object>
        <iframe style='visibility: hidden; height: 0; width: 0; border: 0px'></iframe>
    </div>
    <p>
        <strong>Tags:</strong>
    <%
        var tags = string.Empty;
        
        foreach (var depictionTag in Model.Tags)
        {
            tags += depictionTag.Tag + ", ";
        } %>
        <%= tags.Trim(new [] { ' ', ','}) %>
    </p>
    <%-- Future use... add something like this to access user comments.
    --%>
    <p>
        <strong>Comments:</strong><br/>
    <%
        var comments = new StringBuilder();
        
        foreach (var comment in Model.Comments)
        {
            comments.Append(string.Format("Posted at <strong>{0}</strong> by <strong>{1} {2}</strong><br/>", comment.CreationDate, comment.Person.FirstName, comment.Person.LastName));
            comments.Append(comment.Comment);
            comments.Append("<br/>");
            comments.Append("<hr/>");
            
        } %>
        <%= comments.ToString() %>
    </p>
    <p>
        <%= form %>
    </p>
    <h3>Have Depiction? Download the DPN file!</h3>
    <p><a href="<%= webDepictionLocation + Model.Id + "/" + Model.Filename %>"><%= Model.DepictionTitle %></a></p>
</asp:Content>