﻿<!DOCTYPE html>
<html>
<head>
    <title>Upload Depiction Viewer</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("DoUpload", "Viewer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="text" name="version"/>
            <input type="submit" value="OK" />
        }
    </div>
</body>
</html>
