h1 
{ 
	font-family:Arial; 
	font-weight:bold;
	font-size:20pt;
}
h2 
{ 
	font-family:Arial; 
	font-weight:bold;
	font-size:16pt;
}
h3 
{ 
	font-family:Arial; 
	font-weight:bold;
	font-size:12pt;
}
a:link, span.Hyperlink
{
	color:Blue;
	text-decoration:underline;
}
a:hover
{
	color:Red;
	text-decoration:underline;
}
a:visited, span.HyperlinkFollowed
{
	color:Purple;
	text-decoration:underline;
}
table
{
	
}
body 
{
	color:Black;
	background-color:White; 
	font-family:Arial; 
	font-size:11pt;
}
.Question 
{ 
	font-weight:bold; 
}
.Answer 
{  
	margin-left: 3em; 
}
